@font-face{font-family:'Saira';font-style:italic;font-weight:700;src:url(saira-latin-700-italic.woff2)}
@font-face{font-family:'Saira';font-style:italic;font-weight:800;src:url(saira-latin-800-italic.woff2)}
@font-face{font-family:'Saira';font-style:italic;font-weight:900;src:url(saira-latin-900-italic.woff2)}
@font-face{font-family:'Barlow';font-weight:400;src:url(barlow-latin-400-normal.woff2)}
@font-face{font-family:'Barlow';font-weight:500;src:url(barlow-latin-500-normal.woff2)}
@font-face{font-family:'Barlow';font-weight:600;src:url(barlow-latin-600-normal.woff2)}
@font-face{font-family:'Barlow';font-weight:700;src:url(barlow-latin-700-normal.woff2)}
